
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #514eee;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
}

.main {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
    text-align: center;
    padding: 20px 0;
}

.content p {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 20px;
}

.content-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

